<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    {% block head %}
        <title>horses</title>
        {{ super() }}
    {% endblock %}
</head>

<body>
    {% block navbar %}
        {{ super() }}
    {% endblock %}

    {% block container %}
    <div class="container d-flex justify-content-around pt-6">
        <table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Имя лошади</th>
      <th scope="col">Имя жоккея</th>
      <th scope="col">место</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
  </tbody>
        </table>

    {% endblock %}
</body>
</html>