<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    {% block head %}
        <title>horses</title>
        {{ super() }}
    {% endblock %}
</head>

<body>
    {% block navbar %}
        {{ super() }}
    {% endblock %}

    {% block container %}
    <div class="container d-flex justify-content-around flex-wrap pt-6">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('page.horses_sorted') }}">По возрастанию победы</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('page.horses_sorted_rev') }}">По убыванию победы</a></li>
          </ol>
        </nav>

        <table class="table">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Имя лошади</th>
                  <th scope="col">Возраст лошади</th>
                  <th scope="col">Колличиство побед</th>
                  <th scope="col">Масть</th>
                </tr>
              </thead>
              <tbody>
              {% for horse in horses %}
                <tr>
                  <th scope="row">{{ horse.id }}</th>
                  <td>{{horse.name}}</td>
                  <td>{{ horse.age }}</td>
                  <td>{{ horse.win_score }}</td>
                  <td>{{ horse.suit }}</td>
                </tr>
              {% endfor %}
              </tbody>
        </table>
    </div>
    <form method="POST">
        <div class="form-group">
            {{ form.name.label }} {{ form.name(class='form-control') }}
            {{ form.age.label }}{{ form.age(class='form-control') }}
            {{ form.jockey.label }}{{ form.jockey(class='form-control form-control-lg')}}
            {{ form.suit.label}} {{ form.suit}}
            {{ form.submit(class="btn btn-lg btn-primary") }}
        </div>
    </form>
    {% endblock %}
</body>
</html>