<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    {% block head %}
        <title>horses</title>
        {{ super() }}
    {% endblock %}
</head>

<body>
    {% block navbar %}
        {{ super() }}
    {% endblock %}

    {% block container %}
    <div class="container d-flex justify-content-around flex-wrap pt-6">

        <table class="table">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Имя лошади</th>
                  <th scope="col">Возраст лошади</th>git&nbsp;pull&nbsp;origin&nbsp;master&nbsp;--allow-unrelated-histories
                  <th scope="col">Колличиство побед</th>
                  <th scope="col">Масть</th>
                </tr>
              </thead>
              <tbody>
              {% for horse in horses %}
                <tr>
                  <th scope="row">{{ horse.id }}</th>
                  <td>{{horse.name}}</td>
                  <td>{{ horse.age }}</td>
                  <td>{{ horse.win_score }}</td>
                  <td>{{ horse.suit }}</td>
                </tr>
              {% endfor %}
              </tbody>
        </table>
    </div>
    <form method="POST">
        <div class="form-group">
            {{ form.name.label }} {{ form.name() }}
            {{ form.age.label }}{{ form.age() }}
            {{ form.jockey.label }}{{ form.jockey }}
            {{ form.submit() }}
        </div>
    </form>
    {% endblock %}
</body>
</html>