<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    {% block head %}
        <title>home</title>
        {{ super() }}
    {% endblock %}
</head>
<body>
  <!--==============================header=================================-->
{% block navbar %}
    {{ super() }}
{% endblock %}
  <!--==============================content================================-->
    {% block container %}
    <div class="container d-flex justify-content-around flex-wrap pt-6">

    </div>
  {% endblock %}
<!--==============================footer=================================-->
</body>
</html>