<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    {% block head %}
        <title>horses</title>
        {{ super() }}
    {% endblock %}
</head>

<body>
    {% block navbar %}
        {{ super() }}
    {% endblock %}

    {% block container %}
    <div class="container d-flex justify-content-around pt-6 flex-wrap pt-6">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('page.jockeys_sorted') }}">По возрастанию победы</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('page.jockeys_sorted_rev') }}">По убыванию победы</a></li>
          </ol>
        </nav>
           <table class="table">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Имя наездника</th>
                  <th scope="col">Возраст наездника</th>
                  <th scope="col">Колличиство побед</th>
                </tr>
              </thead>
              <tbody>
              {% for jockey in jockeys %}
                <tr>
                  <th scope="row">{{ jockey.id }}</th>
                  <td>{{jockey.name}}</td>
                  <td>{{ jockey.age }}</td>
                  <td>{{ jockey.win_score }}</td>
                </tr>
              {% endfor %}
              </tbody>
        </table>
    </div>
        <form method="POST">
            <div class="form-group">
                <label for="exampleInputEmail1">{{ form.name.label }}</label>
                 {{ form.name(class='form-control pt-2') }}
                {{ form.age.label }}{{ form.age(class='form-control pt-2') }}
                {{ form.submit(class="btn btn-lg btn-primary pt-2") }}
            </div>
        </form>
    {% endblock %}
</body>
</html>